* {
    font-size: 18px;
    font-family: 'Bahianita', cursive;
    color: darkgray;
}

body {
    background-image: url("https://download.hipwallpaper.com/desktop/1680/1050/54/56/WKPeu1.jpg");
    background-position: center center;
    background-attachment: fixed;
}

header {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    border: .3rem solid rgba(218, 28, 28, 0.404);
    border-radius: 3rem;
    background-color: rgba(169, 169, 169, 0.308);
}

.main-title {
    font-size: 5rem;
    text-align: center;
    margin: 1rem auto;
    background-color: rgba(169, 169, 169, 0);
}

.subtitle {
    font-size: 2rem;
    text-align: center;
    margin-top: -1rem;
    background-color: rgba(169, 169, 169, 0);
}

#img-div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding-top: 1rem;
    background-color: rgba(169, 169, 169, 0.13);
}

#image {
    width: 95%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

#tribute-info {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    border: .5rem solid rgba(218, 28, 28, 0.404);
    background-color: rgba(6, 8, 10, 0.664);
}

h3 {
    color: rgba(240, 255, 255, 0.836);
    font-size: 2.5rem;
    margin: .5rem 30%;
    border-bottom: .3rem solid rgba(218, 28, 28, 0.404);
}

.tribute-info-title {
    border-top: .3rem solid rgba(218, 28, 28, 0.404);
}

.band-list li {
    color: rgba(240, 255, 255, 0.836);
    font-family: 'Josefin Sans', sans-serif;
    width: 9rem;
    margin: .5rem auto;
}

.lifetime li {
    color: rgba(240, 255, 255, 0.836);
    font-family: 'Josefin Sans', sans-serif;
    margin: 1rem auto;
}

footer {
    margin: 1rem auto;
    width: 100%;
}

h4 {
    font-size: 1.4rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

p {
    margin-right: auto; 
    position: relative;
    top: 3rem;
    width: 20%;
}

.social img {
    width: 6%;
    height: auto;
    float: right;
    z-index: 10000;
}


